<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="fostyle.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap"
      rel="stylesheet"
    />
    <title>Select Your Dish</title>
  </head>
  <body>
    <div class="order">
      <h3>Your Order</h3>
      <button class="prevorder">Previous Orders</button>
    </div>
    <div class="all">
      <div class="one-two">
        <div class="items">
          <img class="item-img" src="resources\img\1.jpg" />
          <div class="itemele">
            <h2>Khoresht-e fesenjan</h2>

            <h2>Price ₹430</h2>
            <button href="#" class="button" type="submit">Place Order</button>
          </div>
        </div>
        <h3>
          This iconic stew, an essential part of every Persian wedding menu.
          Khoresht-e fesenjan traditionally made with duck, this dish also works
          well with chicken or lamb. In the north of Iran it is sometimes made
          with fish.
        </h3>
      </div>
      <div class="one-two">
        <div class="items">
          <img class="item-img" src="resources\img\2.jpg" />
          <div class="itemele">
            <h2>Zereshk polo</h2>

            <h2>Price ₹390</h2>
            <button href="#" class="button" type="submit">Place Order</button>
          </div>
        </div>
        <h3>
          Zereshk polo is served at weddings and other celebrations because it
          is impressive and easy to make in large quantities. It is usually
          served with chicken, but it is also delicious with Saffron yogurt
          lamb.
        </h3>
      </div>
    </div>
    <div class="all">
      <div class="one-two">
        <div class="items">
          <img class="item-img" src="resources\img\3.jpg" />
          <div class="itemele">
            <h2>Khoresht-e ghormeh sabzi</h2>

            <h2>Price ₹400</h2>
            <button href="#" class="button" type="submit">Place Order</button>
          </div>
        </div>
        <h3>
          This dish is sour and full of herbs. A popular favourite throughout
          Iran, this is a meal for both festive occasions and family meals. The
          recipe here departs from tradition by adding spinach to enhance the
          taste and give the dish a softer texture.
        </h3>
      </div>
      <div class="one-two">
        <div class="items">
          <img class="item-img" src="resources\img\4.jpg" />
          <div class="itemele">
            <h2>Sabzi polo</h2>

            <h2>Price ₹450</h2>
            <button href="#" class="button" type="submit">Place Order</button>
          </div>
        </div>
        <h3>
          For the Persian New Year (Norouz) celebrations it is traditional to
          serve this rice dish with fish – traditionally fillets of smoked white
          fish from the Caspian Sea. This rice goes well with most fish and meat
          dishes.
        </h3>
      </div>
    </div>
    <div class="all">
      <div class="one-two">
        <div class="items">
          <img class="item-img" src="resources\img\5.jpg" />
          <div class="itemele">
            <h2>Chelo kabab koobideh</h2>

            <h2>Price ₹500</h2>
            <button href="#" class="button" type="submit">Place Order</button>
          </div>
        </div>
        <h3>
          Kebabs have more variety than you might think. First, there’s
          Koobideh, ground meat seasoned with minced onion, salt and pepper. It
          sounds simple, but the taste is sublime. There is kebab-e Barg, thinly
          sliced lamb or beef.
        </h3>
      </div>
      <div class="one-two">
        <div class="items">
          <img class="item-img" src="resources\img\6.jpg" />
          <div class="itemele">
            <h2>Khoresht-e gheimeh</h2>

            <h2>Price ₹550</h2>
            <button href="#" class="button" type="submit">Place Order</button>
          </div>
        </div>
        <h3>
          The meat would be cut into small pieces (gheimeh), fried with onions,
          flavoured with turmeric and other spices and put into big earthenware
          vats. A thick layer of solidified fat on the top ensures a good seal
          against micro-organisms.
        </h3>
      </div>
    </div>
    <div class="all">
      <div class="one-two">
        <div class="items">
          <img class="item-img" src="resources\img\7.jpg" />
          <div class="itemele">
            <h2>Tahchin</h2>

            <h2>Price ₹550</h2>
            <button href="#" class="button" type="submit">Place Order</button>
          </div>
        </div>
        <h3>
          Tahchin is an Iranian rice cake that includes rice, yogurt, saffron,
          egg, and chicken fillets. It is also possible to use vegetables, fish,
          or meat instead of the chicken fillets. Tahchin is composed of two
          different parts: The thin Tahdig part which includes the chicken
          fillets and the second part which is the white rice.
        </h3>
      </div>
      <div class="one-two">
        <div class="items">
          <img class="item-img" src="resources\img\8.jpg" />
          <div class="itemele">
            <h2>Abgoosht</h2>

            <h2>Price ₹380</h2>
            <button href="#" class="button" type="submit">Place Order</button>
          </div>
        </div>
        <h3>
          This is a rich and nutritious dish, suitable for cold winter days. It
          combines complex carbohydrates, protein and fat, and with side dishes
          of fresh herbs and yogurt it makes a healthy balanced meal.
          Traditionally a poor man’s dish.
        </h3>
      </div>
    </div>
  </body>
</html>
